.Sort-Visual {
  &__Controls {
    display: flex;
    align-items: center;
    justify-content: center;
    & div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}