.Sort-Visual {  
  &__Controls {
    & div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @media (min-width: 670px) {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    & div {
      display: flex;
      align-items: center;
    }
  }
}