.Sorting {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-background);
    &__Title {
        margin-bottom: 10px;
        text-align: center;
    }
    &__Body {
        max-width: 680px;
        background-color: white;
        padding: 30px;
    }
}